.features {
  padding-top: 120px;
  padding-bottom: 120px;  
}

.features-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
}

.features-item {
  flex-basis: 264px;
}

.features-title {
  margin-bottom: 8px;
}

.features-text {
  max-width: 264px;
}

.features-icon
{
border: 1px solid #8E8F99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #F4F4FD;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}