.footer {
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 96px 16px;
  margin: 0 auto;
}

.footer-left {
  margin: 0 auto;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.logo-accent {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  margin-bottom: 72px;
}

.footer-social {
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-social-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  cursor: pointer;
  background-color: #31d0aa;
}

.subscribe {
  margin: 0 auto;
}

.title-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.form-footer-wraper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-form-footer {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 288px;
  height: 40px;
  line-height: 2;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form-footer:hover,
.input-form-footer:focus {
  border-color: #31d0aa;
}

.input-form-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-form-footer {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  fill: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
}

.button-form-footer:hover,
.button-form-footer:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    padding: 96px 108px;
  }

  .footer-left {
    margin: 0;
  }

  .input-form-footer {
    width: 264px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-social {
    margin: 0;
  }

  .footer-social-title {
    justify-content: flex-start;
  }

  .subscribe {
    margin: 0;
  }

  .title-form {
    justify-content: flex-start;
  }

  .form-footer-wraper {
    flex-direction: row;
    gap: 24px;
  }

  .input-form-footer {
    margin-bottom: 0;
  }

  .button-form-footer {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    flex-wrap: nowrap;
    align-items: baseline;
    column-gap: 0;
    padding: 100px 15px;
    row-gap: 0;
  }

  .footer-left {
    margin-right: 0;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-social {
    margin-left: 120px;
    margin-right: 0;
  }

  .subscribe {
    margin-left: 83px;
  }

  .form-footer-wraper {
    flex-direction: row;
    gap: 24px;
  }

  .input-form-footer {
    width: 264px;
    margin-bottom: 0;
  }

  .button-form-footer {
    margin: 0;
  }
}
