.team
{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-card-content
{
    text-align: center;
    padding: 32px 16px;
}

.team-card-content h3
{
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
}

.team-social {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.team-container img
{
    display: block;
}

.team-card
{
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-text
{
    margin-bottom: 8px;
}

.team-icon-link
{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus
{
    background-color: #404BBF;
    cursor: pointer;
}
.portfolio-list-item
{
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus
{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08)
}